---
import BaseLayout from "@/layouts/BaseLayout.astro";

import Hero from "@/components/Hero.astro";
import SeoPage from "@/components/SeoPage.astro";
---

<BaseLayout>
  <SeoPage slot="head" title="About" />
  <section class="prose dark:prose-invert">
    <p>
      Welcome to Macintosh Apps, a curated collection of beautifully designed,
      high quality applications for macOS. This directory is completely ad-free,
      providing an unbiased platform to explore the best of what macOS has to
      offer. Our goal is to help you discover incredible software to enhance
      your productivity, creativity, and everyday workflows.
    </p>
    <p>
      Developer are <a href="/submit">welcome to contribute</a>—you are
      encouraged to submit a pull request to add your app to the directory.
      We've also integrated comments so users can share the experiences and
      engage in conversations with others. <strong
        >A GitHub account is required to comment.</strong
      >
    </p>
    <p>
      Whether you are looking for open source tools or premium apps, we've
      gathered a diverse selection of standout options. Join us in celebrating
      great design and functionality on Macintosh Apps!
    </p>
    <p>
      Questions? Feel free to <a href="https://twitter.com/boogerbuttcheek"
        >reach out</a
      >.
    </p>
  </section>
</BaseLayout>
