---
const year = new Date().getFullYear();
---

<div
  class="w-full pb-8 pt-32 text-center text-xs text-lightModeForegroundMuted dark:text-darkModeForegroundMuted"
>
  <hr class="mx-auto mb-8 opacity-20" />
  © {year}
</div>
