<div class="giscus mx-auto max-w-[80ch] pt-12"></div>

<script
  is:inline
  data-astro-rerun
  src="https://giscus.app/client.js"
  data-repo="trevortylerlee/macintoshapps"
  data-repo-id="R_kgDOM4Rd2Q"
  data-category="Announcements"
  data-category-id="DIC_kwDOM4Rd2c4Ci3V-"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="top"
  data-theme="preferred_color_scheme"
  data-lang="en"
  data-loading="lazy"
  crossorigin="anonymous"
  async></script>
