<section class="py-32 text-center">
  <h1 class="text-4xl font-semibold sm:text-6xl">
    <span class="block">Take macOS to</span><span>the next level.</span>
  </h1>
  <p
    class="text-balance pt-3 text-sm text-lightModeForegroundMuted sm:pt-6 sm:text-base dark:text-darkModeForegroundMuted"
  >
    Discover handpicked apps and unlock the true potential of your Mac.
  </p>
</section>
