---
import { Image } from "astro:assets";

import { NAV_LINKS, SITE } from "@/siteConfig.ts";
---

<header class="flex flex-wrap items-center justify-between pb-8 pt-3">
  <span class="">
    <a
      href="/"
      class="flex items-center gap-2 text-base font-semibold sm:text-2xl"
    >
      <Image
        src="/android-chrome-192x192.png"
        alt={SITE.title}
        height={32}
        width={32}
        loading="eager"
      />
      <span class="hidden sm:inline-flex">{SITE.title}</span>
    </a>
  </span>
  <nav>
    <ul class="flex list-none items-center gap-x-4 p-0 sm:gap-x-6">
      {
        Object.keys(NAV_LINKS).map((navItemKey) => {
          return (
            <li>
              <a
                href={NAV_LINKS[navItemKey].path}
                class="opacity-80 hover:opacity-100 focus:opacity-100"
              >
                {NAV_LINKS[navItemKey].label}
              </a>
            </li>
          );
        })
      }
      <li>
        <a
          href="/submit"
          class="rounded-full bg-blue-500 px-4 py-3 text-sm font-normal text-white ring-1 hover:brightness-110 active:brightness-100"
          >Submit an app</a
        >
      </li>
    </ul>
  </nav>
</header>
