---
import { NAV_LINKS, SITE, SOCIAL_LINKS } from "@/siteConfig.ts";
---

<header class="flex flex-wrap items-center justify-between pb-8 pt-3">
  <a href="/" class="text-xl font-semibold sm:text-2xl">{SITE.title}</a>
  <nav>
    <ul class="flex list-none items-center gap-2 p-0 sm:gap-3">
      {
        Object.keys(NAV_LINKS).map((navItemKey) => {
          return (
            <li>
              <a
                href={NAV_LINKS[navItemKey].path}
                class="rounded-full bg-blue-500 px-4 py-3 text-sm font-normal text-white ring-1 hover:brightness-110 active:brightness-100"
              >
                {NAV_LINKS[navItemKey].label}
              </a>
            </li>
          );
        })
      }
    </ul>
  </nav>
</header>
