---
import { formatDate } from "@/lib/util";

const { post } = Astro.props;
---

<li class="flex flex-col no-underline">
  <a href={`/blog/${post.slug}`}>
    <span class="text-lg">{post.data.title}</span>
  </a>
  <div
    class="text-sm text-lightModeForegroundMuted dark:text-darkModeForegroundMuted"
  >
    {formatDate(post.data.publicationDate)}
  </div>
</li>
