---
const { href } = Astro.props;

const normalizePath = (path: string) => path.replace(/\/+$/, "").toLowerCase();

const currentPath = normalizePath(Astro.url.pathname);
const isActive = normalizePath(href) === currentPath;

const tagHref = isActive ? "/" : href;
---

<a
  href={tagHref}
  class:list={{
    "flex h-[40px] items-center justify-center gap-1 rounded border border-black/15 text-xs text-lightModeForegroundMuted dark:border-white/20 dark:text-darkModeForegroundMuted": true,
    "hover:bg-black/5 hover:text-black focus-visible:bg-black/5 focus-visible:text-black":
      !isActive,
    "dark:hover:bg-white/5 dark:hover:text-white dark:focus-visible:bg-white/5 dark:focus-visible:text-white":
      !isActive,
    "bg-black/15 font-bold text-black dark:bg-white/5 dark:text-white":
      isActive,
    "hover:bg-black/10 focus-visible:bg-black/10": isActive,
    "dark:hover:bg-white/10 dark:hover:text-white dark:focus-visible:bg-white/10 dark:focus-visible:text-white":
      isActive,
  }}
>
  <slot />
</a>
